@use "./variables" as var;

.simple-create-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  .lottie-anim-container {
    width: 500px;
    height: auto;
    padding: 4rem;
  }

  .form-container {
    flex: 1;
    padding: 4rem;
    width: 100%;
    border-right: 1px solid var.$light-gray;

    @media screen and (max-width: 768px) {
      padding: unset;
    }

    .form-title {
      font-size: 1rem;
      font-weight: 600;
      margin: 0;
      display: flex;
      width: 100%;
      text-align: left;
      justify-content: flex-start;

      p {
        padding: 0;
        margin: 0;
        text-align: left;
        width: 100%;
        @media screen and (max-width: 768px) {
          text-align: center;
        }
      }
    }

    .form-items {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }

  .form-container-right {
    border: unset;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    .lottie-anim-container {
      display: none;
    }

    .form-container {
      border-right: unset;
    }
  }
}
