@use "../../styles/variables" as var;

.footer {
  padding: 1rem;
  background: var.$primary-color;
  color: var.$white;
  line-height: 2.8rem;
  z-index: 1001;

  .footer-message {
    font-size: 1.2rem;
    font-weight: 600;

    .heart {
      color: var.$red;
    }

    .tools {
      color: var.$color-brown;
    }
  }

  .footer-text {
    font-weight: 600;
  }
}
